body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("./assets/bg6.jpg") !important; 
  background-size: 100vh, 100vw !important;
  background-repeat: repeat-y;
}